%menu-btn {
  color: inherit;
  aspect-ratio: 1;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  z-index: 16;
  transition: color 500ms ease;
  &:hover {
    color: var(--clr-primary);
    transition: color 200ms ease;
  }
}

%nv__btn {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: inherit;
  border-radius: 6px;
  transition: color 500ms ease;
  @media (min-width: 912px) {
    font-size: 1rem;
  }
  &:hover {
    color: var(--clr-primary);
    transition: color 200ms ease;
  }
}

%bottom-btn {
  display: flex;
  width: 100%;
  padding-left: 0.5rem;
  align-items: center;
  padding-block: 0.5rem;
  gap: 0.5rem;
  color: inherit;
  font-weight: 500;
  margin-block-start: 0.5rem;
  border-radius: 6px;
  transition: color 500ms ease;
  &:hover {
    color: var(--clr-primary);
    transition: color 200ms ease;
  }
}
