@use "./Header";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  --header-height: 4rem;

  padding-inline: 1rem;
  display: grid;
  grid-template: 1fr / 1fr auto auto;
  gap: 4px;
  align-items: center;
  z-index: 15;
  @media (min-width: 912px) {
    grid-template: 1fr / 1fr auto 1fr 1fr;
  }
}

.menu {
  grid-area: 1/1/1/2;
  @media (min-width: 912px) {
    grid-area: 1/2/1/3;
  }
  &__btn {
    position: relative;
    @extend %menu-btn;
    @media (min-width: 912px) {
      display: none;
    }
    &.active {
      color: var(--clr-primary);
      &:hover {
        color: var(--clr-secondary);
      }
    }
  }
}

.logo {
  grid-area: 1/1/1/4;
  justify-self: center;
  @extend %menu-btn;
  @media (min-width: 912px) {
    grid-area: 1/1/1/2;
  }
}

.search {
  grid-area: 1/2/1/3;
  @extend %menu-btn;
  @media (min-width: 912px) {
    grid-area: unset;
  }
}

.bookmark {
  grid-area: 1/3/1/4;
  @extend %menu-btn;
  @media (min-width: 912px) {
    grid-area: unset;
  }
}
