@use "./Header";
@use "../../../styles/color" as *;
@use "sass:color";

.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  --header-height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: color.change($clr-primary, $lightness: 30%);
  flex-flow: row wrap;

  &Svg {
    height: 2rem;
    width: 2rem;
  }
  &Label {
    font-size: 1.5rem;
    font-weight: 500;
    @media (min-width: 911px) AND (max-width: 1200px) {
      font-size: 0.875rem;
    }
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  z-index: 18;
  @media (min-width: 911px) {
    display: none;
  }
}
.menuSvg {
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5px;
  color: color.change($clr-primary, $lightness: 20%);
  position: relative;
  z-index: 16;
}

.backdrop {
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0;
  background-color: color.change($clr-primary, $alpha: 10%, $lightness: 90%);
  backdrop-filter: blur(5px) saturate(0.2);
  width: 100%;
  height: 100%;
  display: none;
  &.draw {
    display: block;
  }
}
