@use "./Header";
@use "../../../styles/color" as *;
@use "sass:color";

.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  --header-height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: change-color($clr-primary, $lightness: 30%);

  &Svg {
    height: 2rem;
    width: 2rem;
  }
  &Label {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.menuSvg {
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5px;
  color: change-color($clr-primary, $lightness: 20%);
  position: relative;
  z-index: 16;
}
