@use "../../../styles/color" as *;
@use "sass:color";
.trigger {
  background-color: $clr-white;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.25em;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 400ms ease,
    border-color 400ms ease;
  &:hover {
    background-color: color.change($clr-dark, $lightness: 80%, $alpha: 30%);
    transition:
      background-color 200ms ease,
      border-color 200ms ease;
  }
  &.active {
    background-color: color.change($clr-dark, $lightness: 80%, $alpha: 30%);
  }
}

.content {
  position: absolute;
  color: color.change($clr-dark, $lightness: 30%);
  list-style-type: none;
  background-color: $clr-white;
  border: 1px solid color.change($clr-dark, $lightness: 50%, $alpha: 30%);
  border-radius: 6px;
  padding: 0.25rem;
  display: grid;
  gap: 0.25rem;
}

.item {
  border-radius: 4px;
  width: 100%;
  padding: 0.25rem 0.75rem;
  text-align: left;
  cursor: pointer;
  transition:
    background-color 400ms ease,
    border-color 400ms ease;
  &:hover {
    background-color: color.change($clr-dark, $lightness: 80%, $alpha: 30%);
    transition:
      background-color 200ms ease,
      border-color 200ms ease;
  }
  &.selected {
    background-color: color.change($clr-dark, $lightness: 80%, $alpha: 50%);
  }
}
