.root {
  display: flex;
  align-items: center;
  gap: 1rem;
  @media (max-width: 911px) {
    display: none;
  }
}

.nav {
  height: fit-content;
}
.navList {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.navLink {
  font-weight: 500;
  color: inherit;
}
