@use "../../../../styles/color" as *;
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 14;
  background-color: change-color($clr-primary, $lightness: 99%);
  padding-block-start: calc(1.25 * var(--header-height));
  padding-inline: 1rem;
}

.authStatus {
  width: 100%;
}
