@use "./color" as *;
@use "sass:color";
.hero {
  position: relative;
  min-height: min(100svh, calc(100vw * 1.5));
  padding-block: calc(1.25 * 4rem);
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  align-content: center;
  text-align: center;
  color: color.change($clr-primary, $lightness: 100%);
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    filter: brightness(0.9);

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        color.change($clr-primary, $alpha: 0%) 0%,
        color.change($clr-primary, $alpha: 10%, $blackness: 30%) 30%,
        color.change($clr-primary, $alpha: 100%, $blackness: 70%) 100%
      );
    }
  }

  &__s {
    padding: 0.25rem 1rem;
    background-color: color.change($clr-primary, $lightness: 20%, $alpha: 80%);
    border-radius: 2rem;
    font-size: clamp(0.75rem, 0.5966rem + 0.6818vw, 1rem);
  }

  &__l {
    display: block;
    padding: 0.75rem 1.5rem;
    background-color: color.change($clr-primary, $lightness: 30%);
    color: #fff;
    border-radius: 2rem;
    margin-block-start: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75em;
  }
}

.ats {
  padding: 1rem;
  min-height: min(100svh, calc(100vw * 1.5));

  &__tc {
    display: flex;
    gap: 1.5rem;
    flex-flow: column;
    max-width: 1200px;
    @media (min-width: 1200px) {
      margin-inline: auto;
    }
    &__c1 {
      display: grid;
      gap: 0.5rem;
    }
  }

  &__tt {
    @extend %sub-title;
  }
  &__st {
    @extend %title;
  }

  &__d {
    text-align: right;
    max-width: min(100vw, 500px);
    align-self: flex-end;
  }

  &__l {
    max-width: 1200px;
    margin-block-start: 2rem;
    display: grid;
    gap: 1rem;
    list-style-type: none;
    @media (min-width: 712px) {
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      margin-inline: auto;
    }
  }

  &__atc {
    border: 1px solid color.change($clr-primary, $blackness: 50%, $alpha: 30%);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    &__ic {
      width: 100%;
      aspect-ratio: 2/1;
      position: relative;
    }
    &__ct {
      padding: 1rem;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      flex-grow: 1;
    }
    &__tt {
      font-weight: 500;
      font-size: 1.25rem;
    }
    &__d {
      font-weight: 300;
      font-size: 1rem;
    }
    &__t {
      margin-block-start: 1rem;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__sm {
      font-size: 0.875rem;
      padding: 0.175rem 0.5rem;
      background-color: color.change(
        $clr-primary,
        $lightness: 60%,
        $alpha: 30%
      );
      border-radius: 2rem;
    }
    &__btn {
      padding: 0.75rem 1.25rem;
      border-radius: 2rem;
      background-color: color.change($clr-primary, $lightness: 35%);
      font-weight: 500;
      color: color.change($clr-primary, $lightness: 100%);
    }
  }
}

.ess {
  padding: 1rem;
  text-align: center;
  max-width: 1200px;
  @media (min-width: 1200px) {
    margin-inline: auto;
  }
  &__tt {
    @extend %title;
    margin-block-end: 1rem;
  }

  &__wrp {
    display: flex;
    margin-block: 2rem;
    gap: 1rem;
    list-style-type: none;
    flex-flow: column;
    max-width: 1200px;
    @media (min-width: 912px) {
      flex-flow: row;
    }
  }

  &__atc {
    display: grid;
    gap: 0.5rem;
    border: 1px solid color.change($clr-primary, $blackness: 40%, $alpha: 40%);
    padding: 1rem;
    border-radius: 8px;

    &__icon {
      display: grid;
      place-items: center;
      height: 4rem;
      width: 4rem;
      background-color: color.change($clr-primary, $lightness: 30%);
      color: color.change($clr-primary, $lightness: 100%);
      margin-inline: auto;
      border-radius: 4rem;
    }

    &__tt {
      font-weight: 500;
    }
    &__d {
      font-weight: 300;
    }
  }

  &__msl {
    text-decoration: underline;
    color: color.change($clr-primary, $lightness: 30%);
  }
}

.ap {
  padding: 1rem;
  max-width: 1200px;
  @media (min-width: 1200px) {
    margin-inline: auto;
  }
  &__tt {
    @extend %sub-title;
  }

  &__d {
    @extend %title;
  }

  &__wrp {
    display: grid;
    gap: 1rem;
    margin-block-start: 1rem;
    @media (min-width: 912px) {
      grid-template-columns: auto 1fr;
    }
  }

  &__bw {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 0.25rem;
    @media (min-width: 912px) {
      grid-template: repeat(4, 1fr) / 1fr;
      min-width: 40vw;
    }
  }
  &__btn {
    padding-block: 1rem;
    background-color: color.change($clr-primary, $lightness: 40%);
    border-radius: 6px;
    cursor: pointer;
  }

  &__iw {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: 100%;
    aspect-ratio: 1;
    gap: 0.25rem;

    height: min(calc(100vw - 2rem), 30rem);

    &__img {
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      &:first-child {
        grid-row: span 2;
      }
    }
  }
}

.clt {
  padding: 1rem;
  max-width: 1200px;
  display: grid;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  @media (min-width: 1200px) {
    margin-inline: auto;
  }

  &__tt {
    @extend %sub-title;
  }
  &__st {
    @extend %title;
  }

  &__lt {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    gap: 1rem;
  }

  &__it {
  }

  &__atc {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    gap: 1rem;
    color: color.change($clr-primary, $lightness: 99%);
    &:hover > div {
      filter: brightness(1);
    }
    &__tag {
      margin-block-end: auto;
      padding: 0.25rem 0.75rem;
      background-color: color.change(
        $clr-primary,
        $lightness: 40%,
        $alpha: 40%
      );
      color: color.change($clr-primary, $lightness: 99%);
      width: fit-content;
      font-size: 0.875rem;
      border-radius: 1rem;
    }
    &__tt {
      font-weight: 500;
    }
    &__link {
      padding: 0.5rem 1.25rem;
      background-color: color.change($clr-primary, $lightness: 30%);
      color: inherit;
      width: fit-content;
      border-radius: 4rem;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
    transition: filter 200ms ease;
  }

  &__link {
    color: color.change($clr-primary, $lightness: 40%);
    font-size: 1.25rem;
    text-decoration: underline;
    margin-inline: auto;
  }
}

%title {
  font-size: 2rem;
  font-weight: 500;
}

%sub-title {
  font-size: 1rem;
  font-weight: 300;
  color: color.change($clr-primary, $lightness: 30%);
}
