.btn {
  padding: 0.25rem;
  gap: 1rem;
  padding-inline-end: 1rem;
}
.svgWrap {
  border-radius: 50%;
  aspect-ratio: 1;
  height: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid black;
  .svg {
    height: 2rem;
    width: 2rem;
    stroke-width: 1px;
  }
}
