@use "../../../styles/color" as *;
@use "sass:color";

.root {
  border-radius: 8px;
  background-color: color.change($clr-primary, $lightness: 99%);
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.userImage {
  min-height: 4rem;
  aspect-ratio: 1;
  border-radius: 4rem;
  display: grid;
  place-items: center;
  background-color: color.change($clr-primary, $blackness: 90%, $alpha: 10%);
}
.userSvg {
  height: 3rem;
  width: 3rem;
  stroke-width: 1px;
}

.userName {
  font-size: 1.25rem;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  align-items: center;
  margin-block-start: 1rem;
}
.actionLogin,
.actionEdit {
  display: flex;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: color.change($clr-primary, $blackness: 60%);
  color: color.change($clr-primary, $lightness: 100%);
}
.actionRegister {
  color: inherit;
  font-size: 0.875rem;
  text-decoration: underline;
}

/* Skeleton */
.skeleton {
  background: linear-gradient(90deg, #e8f5ee 25%, #d2f0e0 37%, #e8f5ee 63%);
  background-size: 300% 100%;
  animation: skeleton-loading 1.2s ease-in-out infinite;
  border-radius: 999px;
}
.textBlock {
  height: 1.25rem;
  width: 5rem;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
